html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Roboto', sans-serif;
}

panel-container, user-info, user-details, user-description, text-line, panel-buttons {
  display: block;
}

panel-container {
  padding: 0 1em 1em;
  margin:  1em;
  border: 1px solid #525F78;
  border-radius: 5px;
}

panel-container > legend {
  border-bottom: 1px solid #525f78;
  margin: 1em 4px 4px 4px;
}

user-info {
  padding:  0.5em 0;
  display: flex;
}

user-info > img {
  padding-right: 0.5em;
  width: 64px;
  height: 64px;
}

user-description {
  border-top: 1px solid #525f78;
  border-bottom: 1px solid #525f78;
  text-align: justify;
  padding:  0.5em 0;
}

panel-buttons {
  padding-top: 1em;
  text-align: right;
}

.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 2;
}

.sound-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 16px;
}

.sound-cue {
  box-sizing: border-box;
  flex-grow: 1;
  width: 45%;
  margin: 4px;
}

.mx-sm {
  margin-left: 6px;
  margin-right: 6px;
}